<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="input-group">
      <span class="input-group-addon">Perro</span>
      <input placeholder="Perro" type="text" [(ngModel)]="run.dog" class="form-control">
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="input-group">
      <span class="input-group-addon">Gu&iacutea</span>
      <input placeholder="Gu&iacutea" type="text" [(ngModel)]="run.guide" class="form-control">
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <span class="input-group-addon">Categor&iacutea</span>
    <select [(ngModel)]="run.category">
      <option value="0">Mini</option>
      <option value="1">Midi</option>
      <option value="2">Standard</option>
    </select>
  </div>
</div>
<div class="row">
  <button class="btn btn-default">Agregar</button>
</div>
