<label>Juez:</label><input type="text" [(ngModel)]="course.judge">

<label>Largo:</label><input type="number" [(ngModel)]="course.lenght"><span class="input-group-addon">metros</span>

<label>Velocidad:</label><input type="number"  [(ngModel)]="course.speed"><span class="input-group-addon">m/s</span>

<label>TRS:</label><input type="number" [(ngModel)]="course.standardCourseTime"><span class="input-group-addon">segundos</span>

<label>TRM:</label><input type="number" [(ngModel)]="course.maximiumCourseTime"><span class="input-group-addon">segundos</span>
