<button type="button" class="btn btn-default btn-lg" aria-label="Nueva Compentencia">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nueva Competencia
</button>

<button type="button" class="btn btn-default btn-lg" aria-label="Nueva Pista" routerLinkActive="active" routerLink="/course">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nueva Pista
</button>


<button type="button" class="btn btn-default btn-lg" aria-label="Listar Perros">
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Listar Perros
</button>
<button type="button" class="btn btn-default btn-lg" aria-label="Nuevo Perro">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nuevo Perro
</button>

