<div class="runs-container">
  <div class="runs-actions">
    <button type="button" class="btn btn-default">Agregar Dupla</button>
    <button type="button" class="btn btn-default">Quitar Dupla</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <td>Orden</td>
        <td>Perro</td>
        <td>Gu&iacute;a</td>
        <td>Faltas</td>
        <td>Negativas</td>
        <td>Total</td>
        <td>Puntos</td>
        <td>Tiempo</td>
        <td>Calificación</td>
      </tr>
      </thead>

      <tr *ngFor="let run of runs">
        <td>{{run.order}}</td>
        <td>{{run.dog}}</td>
        <td>{{run.guide}}</td>
        <td>{{run.faults}}</td>
        <td>{{run.refusals}}</td>
        <td>{{run.faults + run.refusals}}</td>
        <td>{{(run.faults + run.refusals) * 5}}</td>
        <td>{{run.time}}</td>
        <td>Coming soon</td>
      </tr>
    </table>
  </div>
</div>
