<div class="runs-container">
  <div class="runs-actions">
    <button type="button" class="btn btn-primary" (click)="open(content)">Agregar Dupla</button>
    <button type="button" class="btn btn-danger">Quitar Dupla</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-default">
      <tr>
        <td>Orden</td>
        <td>Perro</td>
        <td>Gu&iacute;a</td>
        <td>Faltas</td>
        <td>Negativas</td>
        <td>Total</td>
        <td>Puntos</td>
        <td>Tiempo</td>
        <td>Puesto</td>
        <td>Calificación</td>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="small.length > 0">
        <tr class="category-header">
          <td colspan="10">Mini</td>
        </tr>
        <ng-container *ngFor="let run of small">
            <tr>
              <td>{{run.order}}</td>
              <td>
                <input type="text" ngModel="{{run.dog}}">
              </td>
              <td>
                <input type="text" ngModel="{{run.guide}}"/>
              </td>
              <td>
                <input class="input-faults text-right" type="text" ngModel="{{run.faults}}"/>
              </td>
              <td>
                <input class="input-refusals text-right" type="text" ngModel="{{run.refusals}}"/>
              </td>
              <td>{{run.faults + run.refusals}}</td>
              <td>{{(run.faults + run.refusals) * 5}}</td>
              <td>
                <input class="input-time text-right" type="text" ngModel="{{run.time}}"/>
              </td>
              <td>
                {{run.position}}
              </td>
              <td>{{run.qualification}}</td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="medium.length > 0">
        <tr class="category-header">
          <td colspan="10">Midi</td>
        </tr>
        <ng-container *ngFor="let run of medium">
            <tr>
              <td>{{run.order}}</td>
              <td>
                <input type="text" ngModel="{{run.dog}}">
              </td>
              <td>
                <input type="text" ngModel="{{run.guide}}"/>
              </td>
              <td>
                <input class="input-faults text-right" type="text" ngModel="{{run.faults}}"/>
              </td>
              <td>
                <input class="input-refusals text-right" type="text" ngModel="{{run.refusals}}"/>
              </td>
              <td>{{run.faults + run.refusals}}</td>
              <td>{{(run.faults + run.refusals) * 5}}</td>
              <td>
                <input class="input-time text-right" type="text" ngModel="{{run.time}}"/>
              </td>
              <td>
                {{run.position}}
              </td>
              <td>{{run.qualification}}</td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="large.length > 0">
        <tr class="category-header">
          <td colspan="10">Standard</td>
        </tr>
        <ng-container *ngFor="let run of large">
            <tr>
              <td>{{run.order}}</td>
              <td>
                <input type="text" ngModel="{{run.dog}}">
              </td>
              <td>
                <input type="text" ngModel="{{run.guide}}"/>
              </td>
              <td>
                <input class="input-faults text-right" type="text" ngModel="{{run.faults}}"/>
              </td>
              <td>
                <input class="input-refusals text-right" type="text" ngModel="{{run.refusals}}"/>
              </td>
              <td>{{run.faults + run.refusals}}</td>
              <td>{{(run.faults + run.refusals) * 5}}</td>
              <td>
                <input class="input-time text-right" type="text" ngModel="{{run.time}}"/>
              </td>
              <td>
                {{run.position}}
              </td>
              <td>{{run.qualification}}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>-->
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <span class="input-group-addon">Perro</span>
        <input placeholder="Perro" type="text" [(ngModel)]="run.dog" class="form-control">
      </div>
      <div class="col-md-4">
        <span class="input-group-addon">Gu&iacutea</span>
        <input placeholder="Juez/a" type="text" [(ngModel)]="run.guide" class="form-control">
      </div>
      <div class="col-md-4">
        <span class="input-group-addon">Categoría</span>
        <select>
          <option VALUE="small">SMALL</option>
          <option VALUE="medium">MEDIUM</option>
          <option VALUE="large">LARGE</option>
        </select>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
