.app-container {
  padding: 0px 12px;
}

.course .input-group {
  margin: 4px 0px;
}

.course .result .course-result-title {
  font-size: large;
}

footer {
  margin: 2em auto;
}

.runs-container .runs-actions {
  text-align: right;
  margin: 2em 0;
}

.runs-container table {
  width: 100%;
}

.runs-container table thead {
  font-weight: bold;
}
