/* Coolors Exported Palette - coolors.co/003554-006494-0eb1d2-34e4ea-8ddbe0 */

/* HSL */
$color1: hsla(202%, 100%, 16%, 1);
$color2: hsla(199%, 100%, 29%, 1);
$color3: hsla(190%, 88%, 44%, 1);
$color4: hsla(182%, 81%, 56%, 1);
$color5: hsla(184%, 57%, 72%, 1);

/* RGB */
$color1: rgba(0, 53, 84, 1);
$color2: rgba(0, 100, 148, 1);
$color3: rgba(14, 177, 210, 1);
$color4: rgba(52, 228, 234, 1);
$color5: rgba(141, 219, 224, 1);