<div class="row">
    <div class="col-sm-4">
        <h3>Nueva Pista</h3>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Pista
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Combinado
        </button>
    </div>
    <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
    </div>
</div>